.bio {
  width: 100%;
  margin-top: 50px;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
}

.bio-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgb(215, 215, 215);
  border-radius: 150px;
  > h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: rgb(62, 62, 62);
  }

  @media screen and (max-width: 414px) {
    border-radius: 50px;

    > h2 {
      font-size: 16px;
    }


  }
}

.bio-pic {
  height:250px;
  width:250px;
  margin-right: 150px;
  background: url('images/tyrel.jpg') center no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.39);

  @media screen and (max-width: 414px) {
    height: 100px;
    width: 100px;
    margin-right: 20px;
  }
}

.bio-main {
  margin-top: 50px;
  padding-left: 20px;
  border-left: 5px solid #3ea3ff;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  p {
    font-size: 18px;
    line-height: 1.5em;
    color: rgb(62, 62, 62);
  }

  @media screen and (max-width: 414px) {
    flex-direction: column;
    border-left: none;
    padding: 0;

    p {
      font-size: 16px;
      text-align: left;
    }
  }
}

.bio-left {
  margin-right: 50px;

  @media screen and (max-width: 414px) {
    margin: 0;
  }
}
