.contact {
  margin-top: 50px;

}

.contact-header {
  background: url('images/wintertrees.jpg') center no-repeat;
  background-size: cover;
}

.contact-main {
  display: flex;
  justify-content: center;
  h2 {
    font-size: 60px;
    margin-bottom: 50px;
  }
}
