.about {
  margin-top: 6em;
  transition: all 0.3s ease;
  p {
    max-width: 750px;
    line-height: 1.8em;
    margin: 1em auto;
  }
  img {
    display: block;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px rgba(black, 0.4);
    margin: 1em auto;
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  p {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .about {
    img {
      width: 90%;
    }
  }
}