.work-content {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  margin: 0 auto;

}

.work-1 {
  margin-top: 70px;
  display: flex;
  flex-direction: column;

  h3 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
  }

}

.work-1-main, .work-2-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 100px;

  p {
    font-size: 22px;
    max-width: 50%;
    line-height: 1.5em;
  }

  div {
    width: 50%;
    height: 400px;

    box-shadow: 0px 4px 10px rgba(black, .4);
  }
}

.work-1-main {
  p {
    margin-right: 50px;
  }
}

.work-2-main {
  p {
    margin-left: 50px;
  }
}

.work-page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background: url('images/mountains.jpg') center no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 10px rgba(black, .4);

  h2 {
    color: rgb(241, 241, 241);
    text-shadow: 0px 4px 8px rgba(black, .4);
    font-size: 48px;
    text-transform: uppercase;
  }
}

.c2p-1 {
  background: url('images/work/c2p-home.jpg') center no-repeat;
  background-size: cover;
}
.c2p-2 {
  background: url('images/work/c2p-deep6.jpg') center no-repeat;
  background-size: cover;
}

.gesher-1 {
  background: url('images/work/gesher-1.jpg') center no-repeat;
  background-size: cover;
}

.gesher-2 {
  background: url('images/work/gesher-2.jpg') center no-repeat;
  background-size: cover;
}
