@import '../colours';

.business-wrapper {
  h2,
  p {
    text-align: center;
  }
}

.business-list {
  display: flex;
  width: 100%;
  padding: 0 1em;
  margin-top: 3em;

  li {
    margin: 0 1em;
  }
}
.business {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }

  img {
    width: 300px;
  }
}